# exit
ExitNodes {% for relay in exit_nodes -%} {{ relay["fingerprint"] }} {% endfor %}

# middle ???
MiddleNodes {% for relay in middle_nodes -%} {{ relay["fingerprint"] }} {% endfor %}

# guard/entry
EntryNodes {% for relay in entry_nodes -%} {{ relay["fingerprint"] }} {% endfor %}

# other config ...
